---
import Image from "astro/components/Image.astro";
import type { GalleryPic } from "../types";
import { Images } from "../data/Images";

const pageName = Astro.props["name"];
const images = Images[pageName] || [];

// Agrupa de a pares
function pairImages(images: GalleryPic[]): [GalleryPic, GalleryPic | undefined][] {
    const pairs: [GalleryPic, GalleryPic | undefined][] = [];
    for (let i = 0; i < images.length; i += 2) {
        pairs.push([images[i], images[i + 1]]);
    }
    return pairs;
}

const imagePairs = pairImages(images);
---
<div id="collage" class="flex flex-wrap w-full max-w-screen px-[5vw] gap-3">
    {
        imagePairs.map(([img1, img2]) => {
            const H = 752;
            const w1 = img1.width!;
            const h1 = img1.height!;
            const w2 = img2?.width ?? 0;
            const h2 = img2?.height ?? 1;

            const scale1 = H / h1;
            const scale2 = H / h2;

            const sw1 = w1 * scale1;
            const sw2 = w2 * scale2;

            const totalWidth = sw1 + sw2 || 1;

            const pct1 = (sw1 / totalWidth) * 100;
            const pct2 = (sw2 / totalWidth) * 100;

            return (
                <div
                    class="flex gap-3 w-full xl:w-[calc(50%-0.375rem)]"
                >
                    <div style={`width: ${pct1}%; aspect-ratio: ${w1}/${h1};`}>
                        <Image
                            src={img1.src}
                            alt={img1.alt}
                            width={w1}
                            height={h1}
                            class="w-full h-full object-cover"
                            loading="eager"
                        />
                    </div>
                    {
                        img2 &&
                        <div style={`width: ${pct2}%; aspect-ratio: ${w2}/${h2};`}>
                            <Image
                                src={img2.src}
                                alt={img2.alt}
                                width={w2}
                                height={h2}
                                class="w-full h-full object-cover"
                                loading="eager"
                            />
                        </div>
                    }
                </div>
            );
        })
    }
</div>

